<header>
    <nav>
        <h1><i class="bi bi-music-note"></i> New Discover</i></h1>


        <section id="nav">
            <a href="/">INÍCIO</a>
            <a href="/createPage">ADICIONAR</a>
        </section>

    </nav>
</header>
